{% extends "auctions/layout.html" %}

{% block body %}
    <a href="{% url 'list' %}">Create Listing</a>
    <h2>Active Listings</h2>
    
    {% for listing in active_listings %}
        <ul>
            <li>{{ listing.title }}</li>
            <li>{{ listing.description }}</li>
            <li>{{ listing.price }}</li>
            <li><img src="{{ listing.image_url }}" Alt="Image of {self.title}"></li>
            <li>{{ listing.seller }}</li>
        </ul>   
    {% empty %}
        <h1>There are no active listings. Stay tuned for the next top-up.</h1>
    {% endfor %}

{% endblock %}