{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <h3>Listing: {{ listing.title }}</h3>
    </div>
    <div>
        <img src="{{ listing.image_url }}">
    </div>
    <div>
        Details
        <ul>
            <li>Listed by: {{ listing.seller }} </li>
            <li>Category: {{ listing.category }} </li>
        </ul>
    </div>

    <!-- Watchlist -->
    {% if on_watch %}
    <form method="post" action="{% url 'listing' listing.id %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="remove_from_watchlist">
        <button type="submit" class="btn btn-outline-success btn-lg">Remove From Watchlist</button>
    </form>
    {% else %}
    <form method="post" action="{% url 'listing' listing.id %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="add_to_watchlist">
        <button type="submit" class="btn btn-outline-success btn-lg">Add To Watchlist</button>
    </form>
    {% endif %}

    <!-- Bid -->
    <div>
        <h3>Bids start at : {{ min_to_bid }}$</h3>
        <form method="post" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="bid">
            <input type="number" min="{{ min_to_bid | default:listing.starting_bid }}" name="amount" step="0.1">
            <button type="submit" class="btn btn-outline-success btn-lg">Bid On Item</button>
        </form>
    </div>

    {% if error_message %}
    <div>
        {{ error_message }}
    </div>
    {% endif %}

{% endblock %}