{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <h3>Listing: {{ listing.title }}</h3>
    </div>
    <div>
        <img src="{{ listing.image_url }}">
    </div>
    <div>
        Details
        <ul>
            <li>Listed by: {{ listing.seller }} </li>
            <li>Category: {{ listing.category }} </li>
        </ul>
    </div>

    {% if listing.is_active %}
        {% if not ownership %}
            <!-- Watchlist -->
            {% if on_watch %}
                <form method="post" action="{% url 'listing' listing.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="remove_from_watchlist">
                    <button type="submit" class="btn btn-outline-success btn-lg">Remove From Watchlist</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'listing' listing.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="add_to_watchlist">
                    <button type="submit" class="btn btn-outline-success btn-lg">Add To Watchlist</button>
                </form>
            {% endif %}

            <!-- Bid -->
            <div>
                <h3>Bids start at: {{ min_to_bid }}$</h3>
                <form method="post" action="{% url 'listing' listing.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="bid">
                    <input type="number" min="{{ min_to_bid | default:listing.starting_bid }}" name="amount" step="0.1">
                    <button type="submit" class="btn btn-outline-success btn-lg">Bid On Item</button>
                </form>
            </div>

            <!--Comment -->
            <div>
                <h3>Comment On Listing</h3>
                <form method="post" action="{% url 'listing' listing.id %}">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="hidden" name="action" value="comment">
                    <button type="submit" class="btn btn-outline-success btn-lg">Comment</button>
                </form>
            </div>

            <!--Error Message -->

            {% if error_message %}
                <div>
                    {{ error_message }}
                </div>
            {% endif %}
        {% else %}
            <!-- Close Listing -->
            <form method="post" action="{% url 'listing' listing.id %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="close">
                <button type="submit" class="btn btn-outline-success btn-lg">Close Listing</button>
            </form>
        {% endif %}
    <!--Comments Display -->
    <div>
        <h4>Comments</h4>
        {% for comment in comments %}
        <div>
            <tr>
                <div>
                    {{ comment.commenter }} 
                </div>
                <div>
                    {{ comment.comment }}
                </div>
                <div>
                    {{ comment.created_at }}
                </div>
                <br>
            </tr>
        </div>
        {% endfor %}
    </div>

    {% else %}

        {% if ownership %}
            <p>You sold this item to {{ listing.winning_bid.bidder }} at a price of {{ listing.winning_bid.amount|floatformat:"1" }}$</p>
        {% else %}
            {%if bid_status %}
                <p>You won the bid for this item at a price of {{ listing.winning_bid.amount|floatformat:"1" }}$</p>
            {% else %}
                <p>Listing closed</p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
